<div class="card upload-card">
    <div class="card-body">
        <div class="container-img">
            <img [id]="idImage" [src]="srcImage" [height]="heightImage" class="upload-image-componente upload-img" alt="..." />
        </div>
    </div>
    <div class="card-footer">
        <button 
            href="#" 
            class="btn btn-adicionarfoto btn-block" 
            (click)="inputFile.click()"
        >{{ displayButton }}</button>
    </div>
</div>
<input 
    type="file" 
    style="display:none" 
    #inputFile 
    (change)="onFileSelected($event);"
/>