<form class="form">
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" class="form-control " id="nome_estabelecimento" name="nome_estabelecimento" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf"/> 
                </div>  
                <div class="col-md-6 form-group ">
                    <label class="control-label">CNPJ</label>
                    <input type="text" class="form-control" id="celular" name="celular" />
                </div>                                          
                <div class="col-md-6 form-group ">
                    <label class="control-label">Telefone</label>
                    <input type="text" class="form-control" id="datanascimento" name="datanascimento" />
                </div>
            </div>
        </div>    
    </fieldset>
</form>