<ul class="nav nav-pills nav-justified menu-dashboard">
    <li class="nav-item">
        <a class="nav-link" routerLink="produto">
            <fa-icon [icon]="faBoxOpen"></fa-icon>
            <div class="textos">
                <p class="textos">Produtos</p>
                <small class="textos">Configure as caracteristicas de seu produto</small>
            </div>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="categoria">
            <fa-icon [icon]="faSitemap"></fa-icon>
            <div>
                <p class="textos">Categorias</p>
                <small class="textos">Configure as categorias de produto</small>
            </div>
        </a>
    </li>
    
  </ul>