<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faHome"></fa-icon>
    <a routerLink="/dashboard">Home</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faUserTie"></fa-icon>
    <a routerLink="/dashboard/negociacoes">Negociações</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faStore"></fa-icon>
    <a>Lojas Oficiais</a>
</li>
<li class="list-group-item list-group-item-action">
    <img src="assets/img/logo-qeru-menu.png" class="logo-qeru-menu">
    <a routerLink="/dashboard/comprar">Qeru Comprar</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faSitemap"></fa-icon>
    <a>Meus Pontos</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faCreditCard"></fa-icon>
    <a>Meu Dinheiro</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faBullhorn"></fa-icon>
    <a>Propagandas</a>
</li>