        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Cadastro de Cliente</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!--================login_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 topo">
                        <app-autenticacao></app-autenticacao>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Seja bem-vindo! <br>Preencha suas informações para se cadastrar.</h3>
                                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                    <fieldset>
                                        <legend>Dados</legend>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo" [(ngModel)]="cliente.nome">
                                        </div> 
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control {{ validarCampos.cpf }}" id="cpf" name="cpf" placeholder="CPF" mask="000.000.000-00" [(ngModel)]="cliente.cpf" (blur)="validarCampo('cpf')" #required>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control {{ validarCampos.datanascimento }}" id="dt" name="dat" placeholder="Data de Nascimento" [(ngModel)]="cliente.datanascimento"  mask="00/00/0000" (blur)="validarCampo('datanascimento')" #required>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control {{ validarCampos.celular }}" id="cel" name="celular" placeholder="Celular" [(ngModel)]="cliente.celular" mask="(00) 0.0000-0000" (blur)="validarCampo('celular')" #required>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control {{ validarCampos.cep }}" id="cep" name="cep" placeholder="CEP" [(ngModel)]="cliente.cep" mask="00000-000" (blur)="validarCampo('cep')" #required>
                                        </div>                                   
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="rua" name="rua" placeholder="Endereço" [(ngModel)]="cliente.endereco">
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="numero" name="nuemero" placeholder="Número" [(ngModel)]="cliente.numero">
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento" [(ngModel)]="cliente.complemento">
                                        </div>                                        
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" [(ngModel)]="cliente.bairro">
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" [(ngModel)]="cliente.cidade">
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <select id="estado" name="estado" class="form-control" [(ngModel)]="cliente.estado">
                                                <option *ngFor="let e of estados;" value="{{ e.id }}">{{ e.nome }}</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Usuário</legend>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control {{ validarCampos.email }}" id="email" name="email" placeholder="E-Mail" [(ngModel)]="cliente.email" (blur)="validarCampo('email')" #required>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="password" class="form-control {{ validarCampos.senha }}" id="senha" name="senha" placeholder="Senha" [(ngModel)]="cliente.senha" (blur)="validarCampo('senha')" #required>
                                        </div>
                                    </fieldset>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="btn_3" (click)="salvar()">
                                            Cadastrar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
