<div class="proposta-component">
    <h2>Propostas</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" width="20%">Data</th>
                <th scope="col" width="35%">Cliente</th>
                <th scope="col" width="35%">Produto</th>
                <th scope="col" width="10%">Chat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let n of propostas">
                <th scope="row">{{n.data}}</th>
                <td>{{n.cliente}} <br/> {{n.localizacao}} </td>
                <td>{{n.produto}}</td>
                <td><fa-icon [icon]="faRocketchat" (click)="iniciarProposta(n)"></fa-icon></td>
            </tr>
        </tbody>
    </table>
</div>