<app-categoria></app-categoria>
<hr />
<app-subcategoria></app-subcategoria>
<hr />
<app-atributo></app-atributo>
<hr />
<app-item></app-item>
<hr />
<div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Retirar no estabelecimento</label>
      </div>
</div>        
<hr />
<div class="botoes-grupo">
    <button type="submit" value="submit" class="btn_3">
        Enviar
    </button>
</div>