<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Cadastro de Lojista</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<!--================login_part Area =================-->
<section class="login_part section_padding ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 topo">
                <app-autenticacao></app-autenticacao>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Seja bem-vindo! <br> Preencha suas informações para se cadastrar.</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <fieldset>
                                <legend>Pessoais</legend>

                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo" [(ngModel)]="lojista.nome" >
                                </div> 
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control {{ validarCampos.cpf }}" id="cpf" name="cpf" placeholder="CPF" [(ngModel)]="lojista.cpf" mask="000.000.000-00" (blur)="validarCampo('cpf')">
                                </div>   
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control {{ validarCampos.celular }}" id="cel" name="celular" placeholder="Celular" [(ngModel)]="lojista.celular" mask="(00) 0.0000-0000" (blur)="validarCampo('celular')">
                                </div>                                        
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control {{ validarCampos.datanascimento }}" id="dt" name="dat" placeholder="Data de Nascimento" [(ngModel)]="lojista.datanascimento"  mask="00/00/0000" (blur)="validarCampo('datanascimento')">
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Estabelecimento</legend>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control " id="nome_estabelecimento" name="nome_estabelecimento" placeholder="Nome do Estabelecimento" [(ngModel)]="lojista.nomefantasia">
                                </div>                                             
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="razao" name="razao" placeholder="Razão Social" [(ngModel)]="lojista.razaosocial"> 
                                </div>  
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control {{ validarCampos.cnpj }}" id="cnpj" name="cnpj" placeholder="CNPJ" [(ngModel)]="lojista.cnpj"  mask="00.000.000/0000-00" (blur)="validarCampo('cnpj')">
                                </div>                                          
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control {{ validarCampos.telefone }}" id="tel" name="telefone" placeholder="Telefone" [(ngModel)]="lojista.fixo" mask="(00) 0000-0000" (blur)="validarCampo('telefone')">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control {{ validarCampos.cep }}" id="cep" name="cep" placeholder="CEP" [(ngModel)]="lojista.cep" mask="00000-000" (blur)="validarCampo('cep')">
                                </div>                                   
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="rua" name="rua" placeholder="Endereço" [(ngModel)]="lojista.endereco">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" [(ngModel)]="lojista.bairro">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" [(ngModel)]="lojista.cidade">
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Usuário</legend>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control {{ validarCampos.email }}" id="email" name="email" placeholder="E-Mail" [(ngModel)]="lojista.email" (blur)="validarCampo('email')">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control {{ validarCampos.senha }}" id="senha" name="senha" placeholder="Senha" [(ngModel)]="lojista.senha" (blur)="validarCampo('senha')">
                                </div>
                            </fieldset>
                            <div class="col-md-12 form-group p_star">
                                <p class="destaque">O que o estabelecimento oferece</p>
                                <app-categoria (getCategorias)="setCategorias( 1 )"></app-categoria>
                            </div>
                            <div class="col-md-12 form-group p_star">                                        
                                <hr />
                                <strong>Possui serviço de entrega?</strong>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                    Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    <label class="form-check-label" for="exampleRadios2">
                                    Não
                                    </label>
                                </div>                                        
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3" (click)="salvar()">
                                    Cadastrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->