<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-titulopagina 
        titulo="Estabelecimento"
        subtitulo="Altere e personalize os dados do seu estabelecimento."
      >
      </app-titulopagina>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group selectedIndex="0" #matTabGroup>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="faStore"></fa-icon>
            Loja
          </ng-template>
          <app-estabelecimento-loja #loja ></app-estabelecimento-loja>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="faUserTie"></fa-icon>
              Lojista
          </ng-template>
          <app-estabelecimento-lojista #lojista></app-estabelecimento-lojista>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="faImage"></fa-icon>
              Imagens
          </ng-template>
          <app-estabelecimento-imagens></app-estabelecimento-imagens>                  
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <fa-icon [icon]="faTruck"></fa-icon>
            Entrega
          </ng-template>
          <app-estabelecimento-entrega></app-estabelecimento-entrega>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div> 
  <div class="row estabelecimento-row-button">
    <div class="col-md-2">
      <button type="submit" value="submit" class="btn_3" (click)="salvar()">Salvar</button>
    </div>
  </div>    
</div>