<h5 *ngIf="atributos.length > 0">Selecione as principais caracteristicas do seu produto</h5>
<div *ngIf="atributos.length > 0" id="div-lista-atributos">    
    <div *ngFor="let a of atributos;let index;" class="atributo-item-lista">
        <label>{{ a.descricao }}</label>
        <ng-multiselect-dropdown
        #multiselectdown
        *ngIf="a.itens.length"
        [settings]="dropdownSettings"
        [data]="a.itens"
        placeholder="Selecionar {{ a.descricao }} "
        ></ng-multiselect-dropdown>
    </div>
</div>