<form class="form">
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" class="form-control " id="nome_estabelecimento" name="nome_estabelecimento" />
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label">Razão Social</label>
                    <input type="text" class="form-control" id="razao" name="razao"/> 
                </div>  
                <div class="col-md-6 form-group ">
                    <label class="control-label">CNPJ</label>
                    <input type="text" class="form-control" id="cnpj" name="cnpj" />
                </div>                                          
                <div class="col-md-6 form-group ">
                    <label class="control-label">Telefone</label>
                    <input type="text" class="form-control" id="tel" name="telefone" />
                </div>
                <div class="col-md-6 form-group ">
                    <label class="control-label">CEP</label>
                    <input type="text" class="form-control" id="cep" name="cep" />
                </div>                                   
                <div class="col-md-6 form-group ">
                    <label class="control-label">Rua</label>
                    <input type="text" class="form-control" id="rua" name="rua" />
                </div>
                <div class="col-md-6 form-group ">
                    <label class="control-label">Número</label>
                    <input type="text" class="form-control" id="numero" name="nuemero" />
                </div>
                <div class="col-md-6 form-group ">
                    <label class="control-label">Complemento</label>
                    <input type="text" class="form-control" id="complemento" name="complemento" />
                </div>                                
                <div class="col-md-6 form-group ">
                    <label class="control-label">Bairro</label>
                    <input type="text" class="form-control" id="bairro" name="bairro" />
                </div>
                <div class="col-md-6 form-group ">
                    <label class="control-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" name="cidade" />
                </div>
                <div class="col-md-6 form-group ">
                    <label class="control-label">Estado</label>
                    <select id="estado" name="estado" class="form-control">
                        <option>Selecione</option>
                    </select>
                </div>
            </div>
        </div>    
    </fieldset>
</form>