<section id="section-precadastro" class="login_part section_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 topo div-autenticacao">
                <app-autenticacao></app-autenticacao>
            </div>
            <div class="col-md-9">
                <h3 class="titulo-pagina text-left">Seja bem-vindo!</h3>
                <p>Para acessar sua conta preencha as informações ao lado.</p>
            </div>            
        </div>
    </div>
</section>