<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-titulopagina 
                titulo="Vendedor"
                subtitulo="Adicione, liste e altere dados de seus vendedores."
            ></app-titulopagina>
        </div>
    </div>
    <!--<app-vendedor-cadastro></app-vendedor-cadastro>-->
    <!--<app-vendedor-listar></app-vendedor-listar>-->
    <div class="row">
        <div class="col-md-2">
          <button type="submit" value="submit" class="btn_3" (click)="adicionar()">Adicionar</button>
        </div>
      </div>      
    <router-outlet></router-outlet>
</div>