<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-titulopagina 
                titulo="Estabelecimento"
                subtitulo="Altere e personalize os dados do seu estabelecimento."
            ></app-titulopagina>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-10 col-md-2">
            <button type="submit" value="submit" class="btn_3">Salvar</button>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <form class="form">
                <fieldset>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label">Nome</label>
                                <input type="text" class="form-control " id="nome_estabelecimento" name="nome_estabelecimento" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">CPF</label>
                                <input type="text" class="form-control" id="cpf" name="cpf"/> 
                            </div>  
                            <div class="col-md-6 form-group ">
                                <label class="control-label">E-Mail</label>
                                <input type="text" class="form-control" id="email" name="email" />
                            </div>                                          
                            <div class="col-md-6 form-group ">
                                <label class="control-label">Telefone</label>
                                <input type="text" class="form-control" id="datanascimento" name="datanascimento" />
                            </div>
                        </div>
                    </div>    
                </fieldset>
            </form>
        </div>
    </div>
</div>