<!-- Hero Area End-->
<!--================login_part Area =================-->
<section class="login_part section_padding ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <app-cliente></app-cliente>
            </div>            
            <div class="col-lg-4 col-md-4 topo">
                <app-autenticacao></app-autenticacao>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->                        