<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-titulopagina 
                titulo="Produto"
                subtitulo="Altere e personalize os dados do seu estabelecimento."
            ></app-titulopagina>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-10 col-md-2">
            <button 
                type="button" 
                value="Novo" 
                class="btn_3"
                routerLink="cadastro"
            >Novo</button>
        </div>
    </div>    
    <router-outlet></router-outlet>
</div>