<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/hero/contact_hero.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/img/hero/category.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/img/hero/services_hero.jpg" class="d-block w-100">
      </div>
    </div>
  </div>
