<div class="prenegociacao-component">    
    <app-titulopagina #titulopagina ></app-titulopagina>
    <app-categoria 
        #categoria 
        contexto        = "dashboard-lojista"
        [multiple]      = "false"
    ></app-categoria>
    <app-produtodetalhe
        #produtodetalhe
        [especificacao]     = "atributo"
    ></app-produtodetalhe>
    <app-produtofoto
       [itens]          = "foto"
    ></app-produtofoto>
    <hr/>
    <button class="btn" (click)="iniciarNegociacao()">Iniciar Negociação</button>
</div>