.btn-menu-financeiro {
    min-width: 100%;
    color:#000;
    border:0px;
    background-color: #FAFAFA;
    height: 75px;
    border-bottom:2px solid #CCC;
    cursor:pointer;
}
.btn-menu-financeiro:hover{
    background-color: #EEE;
    border-bottom:2px solid #EC4737;
}
.btn-menu-financeiro i{
    font-size:24px;
    margin:10px;
    color:#666;
}
