<!--
<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-end">
      <button class="btn btn-outline-success me-2" type="button" routerLink="categoria">Categoria</button>
      <button class="btn btn-sm btn-outline-secondary" type="button">Produto</button>
    </form>
</nav>
-->
<form>
    <label>Selecione uma Categoria</label>
    <select class="form-control">
        <option>-- Selecione -- </option>
        <option>Beleza e Cuidado Pessoal</option>
        <option>Veículo ( Carro, Moto e Outros )</option>
    </select>
</form>
<button class="btn">+ Subcateforia</button>
<div class="card">
    <div class="card-header" (click)="show()">
        Batom
        <fa-icon [icon]="faCheck"></fa-icon>
        <fa-icon [icon]="faTrash"></fa-icon>
    </div>
    <div class="card-body" style="display: none;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Caracteristica do Produto" aria-label="Caracteristica do Produto" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>        
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                <span>Cor</span>
                <div>
                    <fa-icon [icon]="faCheck"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                </div>    
            </li>
            <li class="list-group-item justify-content-between">Tamanho</li>
            <li class="list-group-item justify-content-between">Altura</li>
          </ul>
    </div>
  </div>