<div class="card-group">
  <div class="card">
    <span class="notify-badge rounded-pill">10</span>
    <img src="assets/img/usuario.png" class="rounded-circle">
    <div class="card-body">
      <span class="card-title">Nome do contato</span>
      <br>
      <span class="card-text">Informação do contato</span>
      <div>
        <button type="button" class="btn">
          Visualizar
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <span class="notify-badge rounded-pill">10</span>
    <img src="assets/img/usuario.png" class="rounded-circle">
      <div class="card-body">
        <span class="card-title">Nome do contato</span>
        <br>
        <span class="card-text">Informação do contato</span>
          <div>
            <button type="button" class="btn">
            Visualizar
            </button>
          </div>
      </div>
  </div>
  <div class="card">
    <span class="notify-badge rounded-pill">10</span>
    <img src="assets/img/usuario.png" class="rounded-circle">
    <div class="card-body">
      <span class="card-title">Nome do contato</span>
      <br>
      <span class="card-text">Informação do contato</span>
      <div>
        <button type="button" class="btn">
          Visualizar
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <span class="notify-badge rounded-pill">10</span>
    <img src="assets/img/usuario.png" class="rounded-circle">
    <div class="card-body">
      <span class="card-title">Nome do contato</span>
      <br>
      <span class="card-text">Informação do contato</span>
      <div>
        <button type="button" class="btn">
          Visualizar
        </button>
      </div>
    </div>
  </div>      
</div>