<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-titulopagina 
            titulo="Criar Propaganda"
            subtitulo="Os dados abaixo são muito importantes para seu produto. Preencha-os com atenção."
        ></app-titulopagina>
        </div>
    </div>
    <div class="row linha-form-propaganda">
        <div class="col-md-8">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="data_inicial" class="control-label">Data Inicial</label>
                        <input type="text" class="form-control" id="data_inicial" name="data_inicial" [(ngModel)]="data_inicial" />
                    </div> 
                    <div class="form-group">
                        <label for="data_final" class="control-label">Data Final</label>
                        <input type="text" class="form-control " id="data_final" name="data_final" [(ngModel)]="data_final" />
                    </div>
                    <div class="form-group">
                        <label for="link_externo" class="control-label">Link Externo</label>
                        <input type="text" class="form-control " id="link_externo" name="link_externo" [(ngModel)]="link_externo" />
                    </div>
                </fieldset>
            </form>    
        </div>
        <div class="col-md-4">
            <app-topicopagina label="Banner"></app-topicopagina>
            <app-upload-image
                #upload
                height="125"
                displayButton="Carregar"
                (uploaded)="processaUpload($event)"
                [params]="params"
            ></app-upload-image>
        </div>
        <div class="col-md-12">
            <button type="submit" value="submit" class="btn_3" (click)="salvar()">Salvar</button>            
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div 
                class="alert alert-success" 
                style="display:none" 
                id="propaganda-msg-retorno"
            >Salvo com Sucesso !</div>
        </div>
    </div>

</div>