<div class="container">
    <div class="row">
        <app-banner></app-banner>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="assets/img/camisa_vermelha.jpg">
            <div class="card-body">
            <h5 class="card-title">Camiseta vermelha</h5>
            <p class="card-text"><h3>R$10,00</h3>
            </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="assets/img/camisa_vermelha.jpg">
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Descrição</p>
        </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="assets/img/camisa_vermelha.jpg">
        <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">Descrição</p>
        </div>
        </div>
    </div>        
</div>