<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-titulopagina 
                titulo="Produto"
                subtitulo="Altere e personalize os dados do seu estabelecimento."
            ></app-titulopagina>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-10 col-md-2">
            <button type="button" value="Novo" class="btn_3">Novo</button>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small</mat-card-subtitle>
                  <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                </mat-card-title-group>
                <mat-card-content></mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <fa-icon [icon]="faEdit"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </mat-card-actions>                
              </mat-card>              
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-title-group>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Small</mat-card-subtitle>
                  <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                </mat-card-title-group>
                <mat-card-content></mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                    <fa-icon [icon]="faEdit"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </mat-card-actions>                
              </mat-card>
              
        </div>
    </div>
</div>