<section id="estabelecimento-entrega">
    <div class="container">
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="control-label">Valor Mínimo para Entrega</label>
                <p-inputNumber 
                    [(ngModel)]="dados.entrega.valor_minimo"
                    [showButtons]="true" 
                    buttonLayout="horizontal" 
                    inputId="horizontal" 
                    spinnerMode="horizontal" 
                    [step]="5"
                    decrementButtonClass="p-button-primary" 
                    incrementButtonClass="p-button-default" 
                    incrementButtonIcon="pi pi-plus" 
                    decrementButtonIcon="pi pi-minus" 
                    mode="currency" 
                    currency="BRL"
                >
                </p-inputNumber>
            </div>  
            <div class="col-md-6 form-group field md:col-6">
                <label class="control-label" style="display: block">Quantidade Mínima para Entrega</label>
                <p-inputNumber [(ngModel)]="dados.entrega.quantidade_minima_entrega" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
                </p-inputNumber>
            </div>                                                          
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label>Possui serviço de entrega ?</label>
                <p-selectButton 
                    [options]="options_possui_entrega" 
                    [(ngModel)]="dados.entrega.is_possui_entrega" 
                    optionLabel="label" 
                    optionValue="value"
                ></p-selectButton>
            </div>
            <div class="col-md-6 form-group">
                <label>Entrega nos feriados ?</label>
                <p-selectButton 
                    [options]="options_entrega_feriado" 
                    [(ngModel)]="dados.entrega.is_possui_entrega" 
                    optionLabel="label" 
                    optionValue="value"
                ></p-selectButton>
            </div>                
        </div>
    </div>
</section>