<form class="form">
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label">Valor Mínimo para Entrega</label>
                    <input type="text" class="form-control" id="valor_min_entrega" name="valor_min_entrega" /> 
                </div>  
                <div class="col-md-6 form-group ">
                    <label class="control-label">Quantidade Mínima para Entrega</label>
                    <input type="text" class="form-control" id="qtdade_min_entrega" name="qtdade_min_entrega" />
                </div>                                                          
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <strong>Possui serviço de entrega ?</strong>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEntregaCheck" id="isEntregaSim" value="S" />
                        <label class="form-check-label" for="isEntregaSim">
                        Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEntregaCheck" id="isEntregaNao" value="N" />
                        <label class="form-check-label" for="isEntregaNao">
                        Não
                        </label>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <strong>Entrega nos feriados ?</strong>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEntregaCheck" id="isEntregaSim" value="S" />
                        <label class="form-check-label" for="isEntregaSim">
                        Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="isEntregaCheck" id="isEntregaNao" value="N" />
                        <label class="form-check-label" for="isEntregaNao">
                        Não
                        </label>
                    </div>
                </div>                
            </div>
        </div>
    </fieldset>
</form>