.financeiro-card{
    background-color: #F6F6F6 !important;
    height:75px;
    line-height: 75px;    
}

.financeiro-barra-lateral {    
    width: 5px;
    float:left; 
    min-height: 100%;
    margin-right: 10px;  
}

.financeiro-valor h1 {
    font-size:28px !important;
    font-weight: bold;
    padding-top:10px;
}

.financeiro-valor p {
    margin-top:-20px;
}