<!--
      -- Hero Area Start--
      <div class="slider-area ">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Área do <span class="titulo-dashboard">{{ titulo }}</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -- Hero Area End--
-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="login_part_text">
                        <div class="login_part_text_iner">
                            <div class="text-center">
                                <img src="assets/img/usuario.png" class="rounded-circle" id="user-img-dashboard">
                               <h4>{{userName}}</h4>
                               <p>{{userEmaill}}</p>
                            </div> <br/>
                            <div class="esquerda cor_l">
                                <ul class="list-group" id="menu-principal-dashboard">
                                    <app-menu-lojista  *ngIf="perfil=='L'"></app-menu-lojista>
                                    <app-menu-cliente  *ngIf="perfil=='C'"></app-menu-cliente>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>