<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-titulopagina 
                titulo="Propagandas"
                subtitulo="Veja as propagandas para ganhar créditos na Qeru."
            ></app-titulopagina>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
<p-carousel 
    [value]="itens" 
    styleClass="custom-carousel" 
    [numVisible]="4" 
    [numScroll]="1" 
    [circular]="true" 
    [autoplayInterval]="0" 
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="itens.length>4?true:false"
    [showNavigators]="itens.length>4?true:false"
>
    <ng-template let-item pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img src="{{ url_arquivo }}logo-94-{{ item.loja_id }}.jpg" [alt]="item.loja_nome" class="product-image" />
                </div>
                <div>
                    <h4 class="mb-1">{{item.loja_nome}}</h4>
                    <div>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                    <span [class]="'product-badge status-'+item.loja_nome.toLowerCase()"> Nome do Produto </span>
                    <div class="car-buttons mt-5">
                        <button href="#" class="btn btn-primary" (click)="visualizar(item)">Visualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
<app-propaganda-view #propandaview></app-propaganda-view>