<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-titulopagina 
                titulo="Lojas Oficiais"
                subtitulo="Conheça todos os nossos parceiros."
            ></app-titulopagina>
        </div>
    </div>
</div>
<p-carousel 
    [value]="itens" 
    styleClass="custom-carousel" 
    [numVisible]="4" 
    [numScroll]="1" 
    [circular]="true" 
    [autoplayInterval]="0" 
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="itens.length>4?true:false"
    [showNavigators]="itens.length>4?true:false"    
>
    <ng-template let-item pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img src="{{ url_arquivo }}logo-94-{{ item.id }}.jpg" [alt]="item.nomefantasia" class="product-image" />
                </div>
                <div>
                    <h4 class="mb-1">{{item.nomefantasia}}</h4>
                    <div>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                    <span [class]="'product-badge status-'+item.nomefantasia.toLowerCase()">{{item.produto}}</span>
                    <div class="car-buttons mt-5">
                        <button href="#" class="btn btn-primary">+ Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>