<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faHome"></fa-icon>
    <a routerLink="/dashboard">Home</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faUserTie"></fa-icon>
    <a 
        routerLink="/dashboard/proposta" 
        (click)="ir()"        
    >Propostas <i class="fas fa-exclamation-circle" [style.display]="new_message"></i> </a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faBoxOpen"></fa-icon>
    <a routerLink="/dashboard/produto" (click)="ir()">Produtos</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faSitemap"></fa-icon>
    <a routerLink="/dashboard/categorialistar" (click)="ir()">Categorias</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faCreditCard"></fa-icon>
    <a routerLink="/dashboard/financeiro" (click)="ir()">Financeiro</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faBullhorn"></fa-icon>
    <a routerLink="/dashboard/propaganda" (click)="ir()">Propagandas</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faClipboardList"></fa-icon>
    <a routerLink="/dashboard/indicadores" (click)="ir()">Indicadores</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faUserTie"></fa-icon>
    <a routerLink="/dashboard/vendedor" (click)="ir()">Vendedor</a>
</li>
<li class="list-group-item list-group-item-action">
    <fa-icon [icon]="faStore"></fa-icon>
    <a routerLink="/dashboard/estabelecimento" (click)="ir()">Estabelecimento</a>
</li>