<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-titulopagina 
                titulo="Categoria"
                subtitulo="Lista de Categorias"
            ></app-titulopagina>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-12">
            <app-categoria 
                [is_show_label]=false 
                #categoria_listar_componente
                [categorias_sel]="categorias_sel"
            ></app-categoria>
        </div>
    </div>    
</div>
