<div class="login_part_text text-center">
    <div class="login_part_text_iner">
        <h2>Já e cadastrado?</h2>
        <p>Clique no botão abaixo para se logar.</p>
        <form id="formulario-contato" class="row contact_form" action="#" method="post" novalidate="novalidate" onblur="pesquisacep(this.value);">
            <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="name" name="name" value=""
                    placeholder="Usuário">
            </div>
            <div class="col-md-12 form-group p_star">
                <input type="password" class="form-control" id="password" name="password" value=""
                    placeholder="Senha">
            </div>
            <div class="col-md-12 form-group">
                <div class="creat_account d-flex align-items-center">
                    <input type="checkbox" id="f-option" name="selector">
                    <label for="f-option">Lembre-me</label>
                </div>
                <button type="submit" value="submit" class="btn_3">
                    Entrar
                </button>
                <a class="lost_pass" href="#">Esqueceu sua senha?</a>
            </div>
        </form>
    </div>
</div>